body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/background_dessert.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    display: flex;
    font-size: 6vw;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1,5);
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}


.canvasSec {
    position: relative;
    width: 70%;
    max-height: 70%;
    max-width: 80%;
    display: flex;
    align-items: center;
}

.undersec {
    background-color: rgba(255, 255, 255, 0.226); 
    width: 70%;    
}

.playbnt {
    position: absolute;
    top: 45%;
    left: 45%;
}

#overlayimgsjunglediff {
    position: absolute;
    right: 25px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    
}

.overlayimgsjunglediff {
    position: absolute;
    bottom: 25px;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.overlaybnts {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 2%;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.overlaybntsims {
    min-width: 3vw;
    width: fit-content;
    max-width: 4vw;
    min-height: 3vh;
    height: fit-content;
    max-height: 6vh;
}

canvas {
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bntSpaceBetween {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

@media screen and (max-width: 900px) {
    .canvasSec {
        position: relative;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
    }

    .undersec {
        width: 100%;
    }

    .d-nmaxw900 {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .d-nminw900 {
        display: none;
    }
}