body {
    margin: 0;

    background-image: url(./img/background_dessert.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*Gen stuff*/

center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

title {
    display: flex;                 
    font-size: 5vw;
}

canvas {
    width: 100%;
}

#canvasSec {
    width: 70%;
}