body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/background_dessert.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*Gen stuff*/



/*Gen stuff*/

title {
    display: flex;                 
    font-size: 5vw;
}


#canvasSec {
    position: relative;
    width: 70%;
    max-height: 80%;
    max-width: 80%;
}

#overlayimgsjunglediff {
    position: absolute;  
    right: 25px;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

#overlaybnts {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 10px;

}

canvas {
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

